.missions{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.list-items{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

.list-items div {
    border: 1px solid black;
}
.list-items:nth-child(even) {background: #F2F2F2}
.miss-name{
    font-weight: 700;
    padding: 3px;
}
.list-items.header-mission {
    font-weight: 700;
    text-align: left;
}
.active{
    background-color:#5DBCCC;
    border-radius: 5px;
    padding: 2px 8px;
}

.not-active{
    background-color:#BFC3C6;
    border-radius: 5px;
    padding: 2px 8px;
}
.btnjoin, .status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-notmember{
    border: 1px solid #5DBCCC;
    padding: 8px;
    border-radius: 3px;
}
.btn-member{
    border: 1px solid red;
    padding: 8px;
    border-radius: 3px;
}